

@import "grid-variables";



@media(min-width: 1px){
	
	// UNIVERSAL ELEMENTS
	.mobile{
		display: block;
	}



	// SPACE ABOVE HEADER
	.pre-banner{
		padding: 1em 0;
	}

	// LOGO
	.logo{
		float: none;
		margin: 0 auto;
	}

	// MOBILE HAMBURGER MENU

}





@media(min-width: 520px){
	
	// UNIVERSAL ELEMENTS
	.mobile{
		display: none;
	}

	// LOGO
	.logo{
		float: left;
		margin-left: 5%;
	}
	

}





@media(min-width: 978px){

	
}



