

@import "grid-variables";



@media(min-width: 1px){
	
	// UNIVERSAL ELEMENTS
	.mobile{
		display: block;
	}

	.not-mobile{
		display: none;
	}



	// SPACE ABOVE HEADER
	.pre-banner{
		padding: 1em 0;
	}

	.logo{
		float: none;
		margin: 0 auto;
	}


	// WHO WE ARE
	.who-we-are{
		margin-left: 0;
		padding: 1.2em 2em;
	}

}





@media(min-width: 520px){
	
	// UNIVERSAL ELEMENTS
	.mobile{
		display: none;
	}

	.not-mobile{
		display: block;
	}


	// HEADER ELEMENTS
	.logo{
		float: left;
		margin-left: 5%;
	}
	


	// NAVIGATION
	.nav{

		li{
			width: 20%;

			&:first-child{
				width: 10%;
				padding-left: 3%;
			}

			&:nth-child(2){
				padding-left: 3%;
			}
		}
	}


	// WHO WE ARE
	.who-we-are{
		margin-left: $gut-width;
		padding: 1.2em 1.8em;
	}

}





@media(min-width: 978px){
	
	// NAVIGATION
	.nav{

		li{
			width: 20%;
		}
	}

	// WHO WE ARE
	.who-we-are{
		padding: 1.2em 1em;
	}
}



