

@import "grid-variables";
@import "breakpoints";


// UNIVERSAL ELEMENTS
// ---------------------------------

body{
	position: relative;
	margin: 0 auto;
}

.italic{
	font-style: italic;
}

.row{
	width: 100%;
	max-width: 1800px;
	margin: 0 auto 1em auto;
	overflow: hidden;
}

.row2, .row3, .row4{
	max-width: 1400px;
}

// WHO WE ARE ROW
.row3{
	margin-top: 2em;
}

// HEADERS FOR PET INFORMATION
h5{
	display: inline-block;
	clear: both;
}


// BUTTONS AND INPUTS
.button{
	display: inline-block;
	padding: 0.62em 1em;
	background-color: $prime-color;
	min-width: 50.703px;
	text-align: center;
	max-height: 2em;
}

.norm-input{
	display: block;
	margin-bottom: 1em;
	padding: 0.2em 0.3em;
}

.enter-btn{
	float: left;
}


// SEARCH BAR ELEMENTS
.search-bar{
	float: left;
	padding: 0.5em 1em;
}

.search-btn{
	float: left;
}


// NAVIGATION
.nav{
	@extend .col-sm-12;
	@extend .col-md-12;
	@extend .col-lg-11;
	
	display: table;
	margin: 0 auto;
	padding: 0;

	li{
		display: table-cell;
		text-align: center;
	}
}




// HEADER ELEMENTS
// ---------------------------------

// SPACE ABOVE HEADER
.pre-banner{
	@extend .col-sm-12;
	@extend .col-md-12;
	@extend .col-lg-12;

	background-color: $prime-color;
	box-sizing: border-box;
	overflow: hidden;
}

// MOBILE HAMBURGER MENU
.ham-nav{
	width: 50px;
	height: 50px;
	background-color: $accent-color;
	position: absolute;
	z-index: 2;
	left: 5%;
}

.logo{
	width: 120px;
	height: 50px;
	background-color: #fff;
	border: 1px solid $accent-color;
}

// HEADER BANNER

header{
	@extend .col-sm-12;
	@extend .col-md-12;
	@extend .col-lg-12;
	
	margin: 0 auto;
	background-color: $sec-color;
	box-sizing: border-box;
	padding: 2em 0;
	overflow: hidden;
}

.header-content{
	@extend .col-sm-10;
	@extend .col-md-10;
	@extend .col-lg-5;

	margin: 0 auto;
}


// WHO WE ARE ELEMENTS
// ---------------------------------

.page-desc{
	@extend .col-sm-12;
	@extend .col-md-7;
	@extend .col-lg-7;

	float: left;
	box-sizing: border-box;
}

.who-we-are{
	background-color: $accent-color;
}

.login-container{
	@extend .col-md-4;
	@extend .col-lg-4;

	float: left;
}


// REPORT BUTTON ELEMENTS
// ---------------------------------

.reports-container{
	@extend .col-sm-10;
	@extend .col-md-6;
	@extend .col-lg-5;

	overflow: hidden;
}

.circle{
	margin: 1em auto;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	background-color: $prime-color;
}

.recent-pets-container{
	width: 100%;
	clear: both;
	margin: 1.6em auto;
	background-color: $accent-color;
	overflow: hidden;
}


// RECENTLY LOST/FOUND PETS
// ---------------------------------

.pet-pic{
	background-color: $prime-color;
	float: left;
	margin-right: 6%;
	margin-bottom: 1.2em;

	&:last-child{
		margin-right: 0;
	}
}


// GOOGLE MAPS
// ---------------------------------

.home-map-container{
	@extend .col-sm-10;
	@extend .col-md-5;
	@extend .col-lg-6;

	overflow: hidden;
	float: left;
	margin-left: $gut-width;
}

.home-map{
	display: block;
	margin: 0 auto;
}

#googleMap{
	margin: 0 auto;
	margin-bottom: 1.6em;
}

.trigger-lost{
	float: left;
}

.trigger-found{
	float: right;
}




// FIND A PET PAGE
// ---------------------------------
// ---------------------------------

.search-container{
	width: 100%;
	display: block;
	clear: both;
	overflow: hidden;
	margin-bottom: 2em;

	.pet-search{
		width: 50%;
	}
}

.findapet-head{
	float: left;
}

.change-btn{
	float: right;
}

.findapet-filter{
	float: left;
	margin-right: 5%;
	margin-bottom: 1em;
}


// GOOGLE MAP (FIND A PET)
// ---------------------------------

.find-map-container{
	@extend .col-sm-10;
	@extend .col-md-4;
	@extend .col-lg-4;

	overflow: hidden;
	float: left;
}


// RECENTLY LOST PETS
// ---------------------------------

.trigger-btn-container{
	width: 100%;
	clear: both;
}

.trigger-lost-btn, .trigger-found-btn{
	clear: both;
	display: block;
	margin: 0 auto;
	width: 80%;
	margin-bottom: 2em;
}

.lost-pets-container, .found-pets-container{
	@extend .col-sm-12;
	@extend .col-md-7;
	@extend .col-lg-7;
	
	overflow: hidden;
	box-sizing: border-box;
}

.lost-pet-pic, .found-pet-pic, .pet-container{
	margin-right: 4%;
	margin-bottom: 1.2em;

	h3{
		text-align: center;
	}

	&:last-child{
		margin-right: 0;
	}
}

.lost-pet-pic, .found-pet-pic{
	background-color: $prime-color;
}

.pet-info{
	width: 65%;
	max-width: 450px;

	h5{
		margin-left: 0;
	}

	.info-text{
		margin-left: 0;
		margin-right: 1em;
	}
}

.claim-pet{
	display: block;
}


// PROFILE PAGE
// ---------------------------------
// ---------------------------------

.account-info-container{
	@extend .col-sm-11;
	@extend .col-md-9;
	@extend .col-lg-10;

	margin: 1em auto;
	box-sizing: border-box;
	padding: 1em 0;
	border-bottom: 2px solid $accent-color;
	overflow: hidden;
}

.profile-pic{
	float: left;
	background-color: $prime-color;
}

.account-info{
	float: left; 
}

.account-label{
	display: block;
	margin-bottom: 1.2em;
	font-weight: 700;
}

.user-input{
	font-weight: 500;
}

.edit-profile{
	float: right;
	clear: both;
	margin-top: 2em;
}


// MY PETS (PROFILE PAGE)
// ---------------------------------

.my-pets-content, .my-messages-content{
	display: none;
}

.profile-bottom-container{
	@extend .col-sm-11;
	@extend .col-md-9;
	@extend .col-lg-10;

	margin: 0 auto;
	overflow: hidden;
}

.profile-nav{
	@extend .col-sm-12;
	@extend .col-md-3;
	@extend .col-lg-3;

	float: left;
	list-style-type: none;
	padding: 0;
}

.profile-nav-btn{
	margin-bottom: 0.8em;
}

.profile-bottom-content{
	@extend .col-sm-11;
	@extend .col-md-9;
	@extend .col-lg-9;

	float: left;
	max-width: 700px;
	margin-left: $gut-width;
}

.profile-lost-pets{
	float: left;
}

.add-new-pet{
	float: right;
	margin-top: 1em;
}

.lost-pet-entry, .found-pet-entry{
	clear: both;
	background-color: $accent-color;
	overflow: hidden;
	margin-bottom: 3em;
}

.entry-info{
	float: left;
}

.has-content{
	width: 65%;
}

.no-content{
	width: 100%;
}

.entry-pic{
	float: right;
	background-color: $sec-color;
}

// PET ENTRY TABLE
// ---------------------------------

.pet-entry{
	width: 100%;

	tr{
		width: 50%;
	}

	td{
		min-width: 100px;
	}
}

.pet-atr{
	font-weight: 700;
}

.pet-trait{
	font-weight: 500;
}

.pet-location{
	color: #fff;
}

.date-posted{
	font-style: italic;
}

.edit-entry-btn{
	margin-right: 2em;
	margin-bottom: 1em;
}


// MY MESSAGES (PROFILE PAGE)
// ---------------------------------

.message-container{
	@extend .col-sm-11;
	@extend .col-md-9;
	@extend .col-lg-9;

	float: left;
	max-width: 700px;
	margin-top: 1em;
	margin-bottom: 3em;
	padding-bottom: 1em;
	border-bottom: 1px solid $accent-color;

	&:last-of-type{
		border-bottom: none;
	}
}

.new-message, .seen-message{
	display: inline-block;
	margin-bottom: 0.5em;
}

.message-date-posted{
	font-style: italic;
}

.seen-message{
	color: $accent-color;
	font-style: italic;
}

.replied-notice{
	color: $accent-color;
	font-style: italic;
	font-size: 0.7em;
}

.message-content{
	border: 1px solid $accent-color;
	margin-bottom: 1em;
}

.message-content-header{
	background-color: $accent-color;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}

.message-text{
	padding: 0.5em 1em;
}

.reply-btn{
	float: left;
}

.delete-message-btn{
	float: right;
}








