.col-sm-1 {
  width: 4.66667%; }

.col-sm-2 {
  width: 13.33333%; }

.col-sm-3 {
  width: 22%; }

.col-sm-4 {
  width: 30.66667%; }

.col-sm-5 {
  width: 39.33333%; }

.col-sm-6 {
  width: 48%; }

.col-sm-7 {
  width: 56.66667%; }

.col-sm-8 {
  width: 65.33333%; }

.col-sm-9 {
  width: 74%; }

.col-sm-10, .header-content, .reports-container, .home-map-container, .find-map-container {
  width: 82.66667%; }

.col-sm-11, .account-info-container, .profile-bottom-container, .profile-bottom-content, .message-container {
  width: 91.33333%; }

.col-sm-12, .nav, .pre-banner, header, .page-desc, .lost-pets-container, .found-pets-container, .profile-nav {
  width: 100%; }

@media (min-width: 520px) {
  .col-md-1 {
    width: 4.66667%; }

  .col-md-2 {
    width: 13.33333%; }

  .col-md-3, .profile-nav {
    width: 22%; }

  .col-md-4, .login-container, .find-map-container {
    width: 30.66667%; }

  .col-md-5, .home-map-container {
    width: 39.33333%; }

  .col-md-6, .reports-container {
    width: 48%; }

  .col-md-7, .page-desc, .lost-pets-container, .found-pets-container {
    width: 56.66667%; }

  .col-md-8 {
    width: 65.33333%; }

  .col-md-9, .account-info-container, .profile-bottom-container, .profile-bottom-content, .message-container {
    width: 74%; }

  .col-md-10, .header-content {
    width: 82.66667%; }

  .col-md-11 {
    width: 91.33333%; }

  .col-md-12, .nav, .pre-banner, header {
    width: 100%; } }
@media (min-width: 978px) {
  .col-lg-1 {
    width: 4.66667%; }

  .col-lg-2 {
    width: 13.33333%; }

  .col-lg-3, .profile-nav {
    width: 22%; }

  .col-lg-4, .login-container, .find-map-container {
    width: 30.66667%; }

  .col-lg-5, .header-content, .reports-container {
    width: 39.33333%; }

  .col-lg-6, .home-map-container {
    width: 48%; }

  .col-lg-7, .page-desc, .lost-pets-container, .found-pets-container {
    width: 56.66667%; }

  .col-lg-8 {
    width: 65.33333%; }

  .col-lg-9, .profile-bottom-content, .message-container {
    width: 74%; }

  .col-lg-10, .account-info-container, .profile-bottom-container {
    width: 82.66667%; }

  .col-lg-11, .nav {
    width: 91.33333%; }

  .col-lg-12, .pre-banner, header {
    width: 100%; } }
.col-sm-1 {
  width: 4.66667%; }

.col-sm-2 {
  width: 13.33333%; }

.col-sm-3 {
  width: 22%; }

.col-sm-4 {
  width: 30.66667%; }

.col-sm-5 {
  width: 39.33333%; }

.col-sm-6 {
  width: 48%; }

.col-sm-7 {
  width: 56.66667%; }

.col-sm-8 {
  width: 65.33333%; }

.col-sm-9 {
  width: 74%; }

.col-sm-10, .header-content, .reports-container, .home-map-container, .find-map-container {
  width: 82.66667%; }

.col-sm-11, .account-info-container, .profile-bottom-container, .profile-bottom-content, .message-container {
  width: 91.33333%; }

.col-sm-12, .nav, .pre-banner, header, .page-desc, .lost-pets-container, .found-pets-container, .profile-nav {
  width: 100%; }

@media (min-width: 520px) {
  .col-md-1 {
    width: 4.66667%; }

  .col-md-2 {
    width: 13.33333%; }

  .col-md-3, .profile-nav {
    width: 22%; }

  .col-md-4, .login-container, .find-map-container {
    width: 30.66667%; }

  .col-md-5, .home-map-container {
    width: 39.33333%; }

  .col-md-6, .reports-container {
    width: 48%; }

  .col-md-7, .page-desc, .lost-pets-container, .found-pets-container {
    width: 56.66667%; }

  .col-md-8 {
    width: 65.33333%; }

  .col-md-9, .account-info-container, .profile-bottom-container, .profile-bottom-content, .message-container {
    width: 74%; }

  .col-md-10, .header-content {
    width: 82.66667%; }

  .col-md-11 {
    width: 91.33333%; }

  .col-md-12, .nav, .pre-banner, header {
    width: 100%; } }
@media (min-width: 978px) {
  .col-lg-1 {
    width: 4.66667%; }

  .col-lg-2 {
    width: 13.33333%; }

  .col-lg-3, .profile-nav {
    width: 22%; }

  .col-lg-4, .login-container, .find-map-container {
    width: 30.66667%; }

  .col-lg-5, .header-content, .reports-container {
    width: 39.33333%; }

  .col-lg-6, .home-map-container {
    width: 48%; }

  .col-lg-7, .page-desc, .lost-pets-container, .found-pets-container {
    width: 56.66667%; }

  .col-lg-8 {
    width: 65.33333%; }

  .col-lg-9, .profile-bottom-content, .message-container {
    width: 74%; }

  .col-lg-10, .account-info-container, .profile-bottom-container {
    width: 82.66667%; }

  .col-lg-11, .nav {
    width: 91.33333%; }

  .col-lg-12, .pre-banner, header {
    width: 100%; } }
@media (min-width: 1px) {
  .mobile {
    display: block; }

  .not-mobile {
    display: none; }

  .pre-banner {
    padding: 1em 0; }

  .logo {
    float: none;
    margin: 0 auto; }

  .who-we-are, .page-desc {
    margin-left: 0;
    padding: 1.2em 2em; }

  .reports-container {
    float: none;
    margin: 0 auto; }

  .button-container {
    float: none;
    margin: 1em auto; }

  .lost-pets-container, .found-pets-container {
    margin-left: 0;
    padding: 0 2em; }

  .lost-pet-pic, .found-pet-pic {
    float: right;
    width: 90px;
    height: 95px; }

  .pet-name {
    text-align: left; }

  .pet-container {
    float: left;
    width: 100%;
    background-color: #D8D7D9; }

  .claim-pet, .contact-owners {
    text-align: right; }

  .account-info-container h2 {
    font-size: 1.2em; }
  .account-info-container .account-label {
    font-size: 0.9em; }

  .profile-pic {
    width: 70px;
    height: 80px;
    margin-right: 1em; }

  .profile-nav-btn {
    display: inline;
    float: left;
    width: 33%;
    font-size: 0.9em; }

  .my-pets {
    text-align: center; }

  .my-messages {
    text-align: left; }

  .account-settings {
    text-align: right; }

  .pet-entry td {
    display: block;
    float: none;
    clear: all;
    margin-bottom: 0.5em; }

  .entry-pic {
    width: 110px;
    height: 110px; } }
@media (min-width: 520px) {
  .mobile {
    display: none; }

  .not-mobile {
    display: block; }

  a {
    font-size: 0.8rem; }

  .logo {
    float: left;
    margin-left: 5%; }

  .nav li {
    width: 20%; }
    .nav li:first-child {
      width: 10%;
      padding-left: 3%; }
    .nav li:nth-child(2) {
      padding-left: 3%; }

  .page-desc {
    margin-left: 4%;
    padding: 1.2em 1.8em; }

  .login-container {
    margin-left: 4%; }

  .reports-container {
    margin-left: 4%;
    float: left; }

  .button-container {
    float: left;
    margin-right: 5%;
    margin-bottom: 3em; }

  .pet-pic {
    width: 70px;
    height: 75px; }

  .lost-pets-container, .found-pets-container {
    margin-left: 4%;
    padding: 0;
    padding-left: 1em; }

  .lost-pet-pic, .found-pet-pic {
    float: left;
    width: 90px;
    height: 95px; }

  .pet-name {
    text-align: center; }

  .pet-container {
    float: left;
    width: 90px;
    height: 130px; }

  .claim-pet, .contact-owners {
    text-align: center; }

  .home-map {
    width: 300px;
    height: 250px; }
    .home-map #googleMap {
      width: 300px;
      height: 250px; }

  .find-map {
    width: 200px;
    height: 150px; }
    .find-map #googleMap {
      width: 200px;
      height: 150px; }

  .profile-pic {
    width: 100px;
    height: 120px;
    margin-right: 2em; }

  .profile-nav-btn {
    display: block;
    float: none;
    width: 100%;
    font-size: 1em; }

  .my-pets, .my-messages, .account-settings {
    text-align: left; }

  .pet-entry td {
    display: inline-block;
    margin-right: 2em; }

  .entry-pic {
    width: 120px;
    height: 120px; } }
@media (min-width: 978px) {
  a {
    font-size: 1rem; }

  .nav li {
    width: 20%; }

  .who-we-are, .page-desc {
    padding: 1.2em 1em; }

  .reports-container {
    margin-left: 4%; }

  .button-container {
    float: left;
    margin-right: 10%;
    margin-bottom: 3em; }

  .pet-pic {
    width: 110px;
    height: 115px; }

  .lost-pets-container, .found-pets-container {
    margin-left: 8%; }

  .lost-pet-pic, .found-pet-pic {
    width: 150px;
    height: 155px; }

  .pet-container {
    width: 150px;
    height: 200px; }

  .findapet-desc {
    margin-left: 8%; }

  .home-map {
    width: 450px;
    height: 400px; }
    .home-map #googleMap {
      width: 450px;
      height: 400px; }

  .find-map {
    width: 300px;
    height: 250px; }
    .find-map #googleMap {
      width: 300px;
      height: 250px; }

  .profile-pic {
    width: 180px;
    height: 200px;
    margin-right: 2em; }

  .entry-pic {
    width: 160px;
    height: 160px; } }
body {
  position: relative;
  margin: 0 auto; }

.italic {
  font-style: italic; }

.row {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto 1em auto;
  overflow: hidden; }

.row2, .row3, .row4 {
  max-width: 1400px; }

.row3 {
  margin-top: 2em; }

h5 {
  display: inline-block;
  clear: both; }

.button {
  display: inline-block;
  padding: 0.62em 1em;
  background-color: lightblue;
  min-width: 50.703px;
  text-align: center;
  max-height: 2em; }

.norm-input {
  display: block;
  margin-bottom: 1em;
  padding: 0.2em 0.3em; }

.enter-btn {
  float: left; }

.search-bar {
  float: left;
  padding: 0.5em 1em; }

.search-btn {
  float: left; }

.nav {
  display: table;
  margin: 0 auto;
  padding: 0; }
  .nav li {
    display: table-cell;
    text-align: center; }

.pre-banner {
  background-color: lightblue;
  box-sizing: border-box;
  overflow: hidden; }

.ham-nav {
  width: 50px;
  height: 50px;
  background-color: #D8D7D9;
  position: absolute;
  z-index: 2;
  left: 5%; }

.logo {
  width: 120px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #D8D7D9; }

header {
  margin: 0 auto;
  background-color: pink;
  box-sizing: border-box;
  padding: 2em 0;
  overflow: hidden; }

.header-content {
  margin: 0 auto; }

.page-desc {
  float: left;
  box-sizing: border-box; }

.who-we-are {
  background-color: #D8D7D9; }

.login-container {
  float: left; }

.reports-container {
  overflow: hidden; }

.circle {
  margin: 1em auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: lightblue; }

.recent-pets-container {
  width: 100%;
  clear: both;
  margin: 1.6em auto;
  background-color: #D8D7D9;
  overflow: hidden; }

.pet-pic {
  background-color: lightblue;
  float: left;
  margin-right: 6%;
  margin-bottom: 1.2em; }
  .pet-pic:last-child {
    margin-right: 0; }

.home-map-container {
  overflow: hidden;
  float: left;
  margin-left: 4%; }

.home-map {
  display: block;
  margin: 0 auto; }

#googleMap {
  margin: 0 auto;
  margin-bottom: 1.6em; }

.trigger-lost {
  float: left; }

.trigger-found {
  float: right; }

.search-container {
  width: 100%;
  display: block;
  clear: both;
  overflow: hidden;
  margin-bottom: 2em; }
  .search-container .pet-search {
    width: 50%; }

.findapet-head {
  float: left; }

.change-btn {
  float: right; }

.findapet-filter {
  float: left;
  margin-right: 5%;
  margin-bottom: 1em; }

.find-map-container {
  overflow: hidden;
  float: left; }

.trigger-btn-container {
  width: 100%;
  clear: both; }

.trigger-lost-btn, .trigger-found-btn {
  clear: both;
  display: block;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 2em; }

.lost-pets-container, .found-pets-container {
  overflow: hidden;
  box-sizing: border-box; }

.lost-pet-pic, .found-pet-pic, .pet-container {
  margin-right: 4%;
  margin-bottom: 1.2em; }
  .lost-pet-pic h3, .found-pet-pic h3, .pet-container h3 {
    text-align: center; }
  .lost-pet-pic:last-child, .found-pet-pic:last-child, .pet-container:last-child {
    margin-right: 0; }

.lost-pet-pic, .found-pet-pic {
  background-color: lightblue; }

.pet-info {
  width: 65%;
  max-width: 450px; }
  .pet-info h5 {
    margin-left: 0; }
  .pet-info .info-text {
    margin-left: 0;
    margin-right: 1em; }

.claim-pet {
  display: block; }

.account-info-container {
  margin: 1em auto;
  box-sizing: border-box;
  padding: 1em 0;
  border-bottom: 2px solid #D8D7D9;
  overflow: hidden; }

.profile-pic {
  float: left;
  background-color: lightblue; }

.account-info {
  float: left; }

.account-label {
  display: block;
  margin-bottom: 1.2em;
  font-weight: 700; }

.user-input {
  font-weight: 500; }

.edit-profile {
  float: right;
  clear: both;
  margin-top: 2em; }

.my-pets-content {
  display: none; }

.profile-bottom-container {
  margin: 0 auto;
  overflow: hidden; }

.profile-nav {
  float: left;
  list-style-type: none;
  padding: 0; }

.profile-nav-btn {
  margin-bottom: 0.8em; }

.profile-bottom-content {
  float: left;
  max-width: 700px;
  margin-left: 4%; }

.profile-lost-pets {
  float: left; }

.add-new-pet {
  float: right;
  margin-top: 1em; }

.lost-pet-entry, .found-pet-entry {
  clear: both;
  background-color: #D8D7D9;
  overflow: hidden;
  margin-bottom: 3em; }

.entry-info {
  float: left; }

.has-content {
  width: 65%; }

.no-content {
  width: 100%; }

.entry-pic {
  float: right;
  background-color: pink; }

.pet-entry {
  width: 100%; }
  .pet-entry tr {
    width: 50%; }
  .pet-entry td {
    min-width: 100px; }

.pet-atr {
  font-weight: 700; }

.pet-trait {
  font-weight: 500; }

.pet-location {
  color: #fff; }

.date-posted {
  font-style: italic; }

.edit-entry-btn {
  margin-right: 2em;
  margin-bottom: 1em; }

.my-messages-contentlast-child {
  border-bottom: none; }

.message-container {
  float: left;
  max-width: 700px;
  margin-top: 1em;
  margin-bottom: 3em;
  padding-bottom: 1em;
  border-bottom: 1px solid #D8D7D9; }

.new-message, .seen-message {
  display: inline-block;
  margin-bottom: 0.5em; }

.message-date-posted {
  font-style: italic; }

.seen-message {
  color: #D8D7D9;
  font-style: italic; }

.replied-notice {
  color: #D8D7D9;
  font-style: italic;
  font-size: 0.7em; }

.message-content {
  border: 1px solid #D8D7D9;
  margin-bottom: 1em; }

.message-content-header {
  background-color: #D8D7D9;
  padding: 0.5em 1em;
  margin-bottom: 1em; }

.message-text {
  padding: 0.5em 1em; }

.reply-btn {
  float: left; }

.delete-message-btn {
  float: right; }

/*# sourceMappingURL=main.css.map */
