.col-sm-1 {
  width: 4.66667%; }

.col-sm-2 {
  width: 13.33333%; }

.col-sm-3 {
  width: 22%; }

.col-sm-4 {
  width: 30.66667%; }

.col-sm-5 {
  width: 39.33333%; }

.col-sm-6 {
  width: 48%; }

.col-sm-7 {
  width: 56.66667%; }

.col-sm-8 {
  width: 65.33333%; }

.col-sm-9 {
  width: 74%; }

.col-sm-10, .header-content, .reports-container, .home-map {
  width: 82.66667%; }

.col-sm-11 {
  width: 91.33333%; }

.col-sm-12, .nav, .pre-banner, header, .who-we-are {
  width: 100%; }

@media (min-width: 520px) {
  .col-md-1 {
    width: 4.66667%; }

  .col-md-2 {
    width: 13.33333%; }

  .col-md-3 {
    width: 22%; }

  .col-md-4, .login-container {
    width: 30.66667%; }

  .col-md-5, .home-map {
    width: 39.33333%; }

  .col-md-6, .reports-container {
    width: 48%; }

  .col-md-7, .who-we-are {
    width: 56.66667%; }

  .col-md-8 {
    width: 65.33333%; }

  .col-md-9 {
    width: 74%; }

  .col-md-10, .header-content {
    width: 82.66667%; }

  .col-md-11 {
    width: 91.33333%; }

  .col-md-12, .nav, .pre-banner, header {
    width: 100%; } }
@media (min-width: 978px) {
  .col-lg-1 {
    width: 4.66667%; }

  .col-lg-2 {
    width: 13.33333%; }

  .col-lg-3 {
    width: 22%; }

  .col-lg-4, .login-container {
    width: 30.66667%; }

  .col-lg-5, .header-content, .reports-container {
    width: 39.33333%; }

  .col-lg-6, .home-map {
    width: 48%; }

  .col-lg-7, .who-we-are {
    width: 56.66667%; }

  .col-lg-8 {
    width: 65.33333%; }

  .col-lg-9 {
    width: 74%; }

  .col-lg-10 {
    width: 82.66667%; }

  .col-lg-11, .nav {
    width: 91.33333%; }

  .col-lg-12, .pre-banner, header {
    width: 100%; } }
.col-sm-1 {
  width: 4.66667%; }

.col-sm-2 {
  width: 13.33333%; }

.col-sm-3 {
  width: 22%; }

.col-sm-4 {
  width: 30.66667%; }

.col-sm-5 {
  width: 39.33333%; }

.col-sm-6 {
  width: 48%; }

.col-sm-7 {
  width: 56.66667%; }

.col-sm-8 {
  width: 65.33333%; }

.col-sm-9 {
  width: 74%; }

.col-sm-10, .header-content, .reports-container, .home-map {
  width: 82.66667%; }

.col-sm-11 {
  width: 91.33333%; }

.col-sm-12, .nav, .pre-banner, header, .who-we-are {
  width: 100%; }

@media (min-width: 520px) {
  .col-md-1 {
    width: 4.66667%; }

  .col-md-2 {
    width: 13.33333%; }

  .col-md-3 {
    width: 22%; }

  .col-md-4, .login-container {
    width: 30.66667%; }

  .col-md-5, .home-map {
    width: 39.33333%; }

  .col-md-6, .reports-container {
    width: 48%; }

  .col-md-7, .who-we-are {
    width: 56.66667%; }

  .col-md-8 {
    width: 65.33333%; }

  .col-md-9 {
    width: 74%; }

  .col-md-10, .header-content {
    width: 82.66667%; }

  .col-md-11 {
    width: 91.33333%; }

  .col-md-12, .nav, .pre-banner, header {
    width: 100%; } }
@media (min-width: 978px) {
  .col-lg-1 {
    width: 4.66667%; }

  .col-lg-2 {
    width: 13.33333%; }

  .col-lg-3 {
    width: 22%; }

  .col-lg-4, .login-container {
    width: 30.66667%; }

  .col-lg-5, .header-content, .reports-container {
    width: 39.33333%; }

  .col-lg-6, .home-map {
    width: 48%; }

  .col-lg-7, .who-we-are {
    width: 56.66667%; }

  .col-lg-8 {
    width: 65.33333%; }

  .col-lg-9 {
    width: 74%; }

  .col-lg-10 {
    width: 82.66667%; }

  .col-lg-11, .nav {
    width: 91.33333%; }

  .col-lg-12, .pre-banner, header {
    width: 100%; } }
@media (min-width: 1px) {
  .mobile {
    display: block; }

  .not-mobile {
    display: none; }

  .pre-banner {
    padding: 1em 0; }

  .logo {
    float: none;
    margin: 0 auto; }

  .who-we-are {
    margin-left: 0;
    padding: 1.2em 2em; }

  .reports-container {
    float: none;
    margin: 0 auto; }

  .button-container {
    float: none;
    margin: 1em auto; } }
@media (min-width: 520px) {
  .mobile {
    display: none; }

  .not-mobile {
    display: block; }

  .logo {
    float: left;
    margin-left: 5%; }

  .nav li {
    width: 20%; }
    .nav li:first-child {
      width: 10%;
      padding-left: 3%; }
    .nav li:nth-child(2) {
      padding-left: 3%; }

  .who-we-are {
    margin-left: 4%;
    padding: 1.2em 1.8em; }

  .login-container {
    margin-left: 4%; }

  .reports-container {
    margin-left: 4%;
    float: left; }

  .button-container {
    float: left;
    margin-right: 5%;
    margin-bottom: 3em; }

  .pet-pic {
    width: 70px;
    height: 75px; }

  .map-container, #googleMap {
    width: 300px;
    height: 250px; } }
@media (min-width: 978px) {
  .nav li {
    width: 20%; }

  .who-we-are {
    padding: 1.2em 1em; }

  .reports-container {
    margin-left: 4%; }

  .button-container {
    float: left;
    margin-right: 10%;
    margin-bottom: 3em; }

  .pet-pic {
    width: 110px;
    height: 115px; }

  .map-container, #googleMap {
    width: 450px;
    height: 400px; } }
body {
  position: relative;
  margin: 0 auto; }

.row {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto 1em auto;
  overflow: hidden; }

.row3 {
  margin-top: 2em; }

.button {
  padding: 0.62em 1em;
  background-color: lightblue;
  min-width: 50.703px;
  text-align: center; }

.norm-input {
  display: block;
  margin-bottom: 1em;
  padding: 0.2em 0.3em; }

.enter-btn {
  float: left; }

.search-bar {
  float: left;
  padding: 0.5em 1em; }

.search-btn {
  float: left; }

.nav {
  display: table;
  margin: 0 auto;
  padding: 0; }
  .nav li {
    display: table-cell;
    text-align: center; }

.pre-banner {
  background-color: lightblue;
  box-sizing: border-box;
  overflow: hidden; }

.ham-nav {
  width: 50px;
  height: 50px;
  background-color: #D8D7D9;
  position: absolute;
  z-index: 2;
  left: 5%; }

.logo {
  width: 120px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #D8D7D9; }

header {
  margin: 0 auto;
  background-color: pink;
  box-sizing: border-box;
  padding: 2em 0;
  overflow: hidden; }

.header-content {
  margin: 0 auto; }

.who-we-are {
  float: left;
  background-color: #D8D7D9;
  box-sizing: border-box; }

.login-container {
  float: left; }

.reports-container {
  overflow: hidden; }

.circle {
  margin: 1em auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: lightblue; }

.recent-pets-container {
  width: 100%;
  clear: both;
  margin: 1.6em auto;
  background-color: #D8D7D9;
  overflow: hidden; }

.pet-pic {
  background-color: lightblue;
  float: left;
  margin-right: 6%;
  margin-bottom: 1.2em; }
  .pet-pic:last-child {
    margin-right: 0; }

.home-map {
  overflow: hidden;
  float: left;
  margin-left: 4%; }

.map-container {
  display: block;
  margin: 0 auto; }

#googleMap {
  margin: 0 auto;
  margin-bottom: 1.6em; }

.trigger-lost {
  float: left; }

.trigger-found {
  float: right; }

/*# sourceMappingURL=main.css.map */
